* {
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('./assets/bk.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}

.pikachu_bk {
    height: 200px;
    bottom: 150px;
    left: 150px;
    position: fixed;
}

.container {
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 20px 20px;
    background-color: #00588b;
    color: #fff;
    border: transparent solid 1px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
}

button:hover {
    transition: 0.3s;
    background-color: #bbb819;
    border: solid #00588b 1px;
    box-sizing: border-box;
}

#pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 25px;

    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);

}

form {
    margin-bottom: 15px;
}

#pokemon-info p {
    margin: 5px;
}

#pokemon-info img {
    margin-top: -130px;
    background-color: slategray;
    border-radius: 50%;
    border: #fff solid 5px;
    height: 200px;
    padding: 10px;
}

@media (max-width: 480px) {
    .pokeinfo-img {
        width: 350px;
        margin: 0 auto;
    }

    p {
        text-align: center;
    }
}